
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
/*js variable*/
:root{
    --main-color: #ff702a;
    --text-color:white;
    --bg-color: black;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font: 0.9rem;
}

*::selection {
    background: var(--main-color);
    color: black;
}
body{
    color: var(--text-color);
    background: var(--bg-color);

}

header{
    position:fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 170px;
    background:grey;
   
}
header img{
    height: 100px;
    width:100%;
}
.logo img{
    height:40px;
    width:120px;
    color: var(--main-color);
/*    font-weight: 600;*/
/*    font-size: 2.4rem;*/
}
#navbar{
    display: flex;
/*    border: 2px solid red;*/
/*    visibility: hidden;*/
    transition: 5s;
    margin: 0.5rem;
}
#navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 30px;
    font-weight: 500;
/*    transition: 1s;*/
    
}
#navbar a:hover{
    color: var(--main-color);
    transition: 2s;
    border: 2px solid #00FC00;
    border-radius: 5rem;

}
#box-icon{
    font-size:2rem;
    cursor: pointer;
    display: none;
   
}


/*----home section----*/


section{
    padding: 70px 17%;

}
.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    grid-gap: 1.5rem;
    align-items: center;    
}
.home-text h1 {
    font-size: 65px;
    position: relative;
    top: -40px;
    left: 0px;
    font-family: mv boli;
    color: var(--main-color);
    transform:translateY(-100vh);
    animation: drop 1.5s forwards;
}
@keyframes drop {
    100%{
        transform: translateY(0);
    }
}


.home-text h2{
    font-size: 40px;
    position: relative;
    top: 20px;
    left: 0px;
}
.home-text p{
    font-size: 20px;
    position: relative;
    top: -60px;
    left: 80px;
    transform:translateY(-100vh);
    animation: drop 1.5s forwards;
}

@keyframes drop {
    100%{
        transform: translateY(0);
    }
}
.home-img img{
    max-width: 100%;
    height: auto;
    width: 600px;
    animation: float 3s infinite;
    position: relative;
    top: 3rem;

}

@keyframes float{
    0%, 100%{
        transform: translate(0rem);
    }
    50%{
        transform: translate(5rem);
    }
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 1rem;
    border: 2px solid orange;
    position: relative;
    top:50px;
    transition: 0.5s;

}
.btn:hover{
     letter-spacing: .2rem;
    color:#00FC00;
    border: 3px solid #00FC00;
    /*transform: scale(1.2) translate(5px);
    transition: 0.4s;*/
}


/*----about section----*/
.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.about-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
}
.about-text span{
    font-size: 25px;
    color: var(--main-color);
}
.about-text h2{
    font-size:var(--h2-font);
}
.about-text p{
    margin: 0.8rem 0 1.8rem;

}

.heading{
    text-align: center;
}
.heading span{
    color: var(--main-color);
    font-size: 30px;
}
.heading h2{
    font-size: var(--h2-font);

}

/*----menu section----*/
.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    align-items: center;

}
.box{
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: centre;
    background: grey;
    padding: 20px;
    border-radius: 0.5rem;
    transition: 0.5s;
    
}
.box:hover{
/*    border: 3px solid red;*/
    cursor: pointer;
    transform: scale(1.1) translate(0px);
    transition: 0.3s;
}
.box-img{
    width: 220px;
    height: 220px;
}
.box-img img{
    height: 100%;
    width: 100%;
}
.box h2{
    font-size: 1.3rem;
    color: var(--bg-color);

}
.box h3{
    color: var(--main-color);
    font-size: 1.3rem;
    margin: 4px 0 10px;
}
.box span{
    font-size: var(--p-font);
    transition: 0.5s;
}
.box span:hover{
    color: red;
}

.box .fa-solid{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 7px 10px;
    transition: 0.5s;
}
.box .fa-solid:hover{
    color: red;
    transform: scale(1.3) translate(0px);
    transition: 0.3s;
}

/*----service section----*/
.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;
    background: grey;
    transition: 1s; 
}
.service-container:hover{
    transform: scale(1.1) translate(0px);
    transition: 0.3s;
}
.s-box{
    text-align: center;
    padding: 20px 30px;

}
.s-box h3{
    color:red;
}

.s-box  img{
    width: 90px;
    animation: float 3s infinite;
}
@keyframes float{
    0%, 100%{
        transform: translate(-5rem);
    }
    50%{
        transform: translate(5rem);
    }
}


/*---Customer Review---*/

.review{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.review h1{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review h1 span{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
}

.review h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    position: relative;
    bottom: 15px;
    display: block;
}

.review .review_box{
    width: 95%;
    margin: 70px auto;
    display: flex;

}

.review_box .review_card{
    width: 350px;
    height: 535px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 8px 20px;
    margin: 0 8px;
/*    background: white;*/
    border: 2px solid orangered;
}

.review_box .review_card .review_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.review_box .review_card:hover .review_profile{
    transform: translateY(-60px);
}

.review_box .review_card .review_profile img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #fac031;
}

.review_box .review_card .review_text{
    text-align: center;
}

.review_box .review_card .review_text .name{
    color: #FFF;
    transition: 0.3s;
    font-size: 25PX;
}

.review_box .review_card:hover .review_text .name{
    transform: translateY(-50px);
}

.review_card .review_text .review_icon{
    color: #fac031;
    transition: 0.3s;
    font-size: 12px;
}

.review_card:hover .review_text .review_icon{
    transform: translateY(-30px);
}

.review_card .review_text .review_social i{
    margin: 5px 1px;
    font-size: 15px;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
/*    color: orangered;*/
}

.review_box .review_card:hover .review_text .review_social i{
    opacity: 1;
    transform: translateY(-8px);
}

.review_box .review_card .review_text p{
    text-align: center;
    line-height: 22px;
    transition: 0.3s;
/*    color:black;*/
    font-size:15px;
}

.review_box .review_card:hover .review_text p{
    margin-top: 5px;
}




/*----contact section----*/

.main{
    display: flex;
    flex-wrap: wrap;
/*    border: 1px solid blue;*/


}
.footer{
    padding: 10px 0;


}
.col{
    width:22%;
    margin: 0.5rem;
    text-align: center;
/*  border: 1px solid blue;*/
    display:grid;
}

.col h4{
    font-size:1.2rem;
    color: var(--main-color);
    position: relative;
/*    border: 1px solid red;*/
    


}

.col ul li:not(last-child) {
    margin: 20px;

}
.col ul li a{
    color: var(--text-color);
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .2s;
}
.col ul li a:hover{
    color: var(--main-color);
    transform: scale(1.2) translate(0px);
    transition: 0.5s;
    border: 1px solid var(--main-color);
    border-radius: 5rem;

}
.social a{
    margin: 1.1rem;
    display:grid;
    padding: 3px;
    font-size: 1.5rem;
    color: var(--text-color);
    transition: 0.5s;
    border: 1px solid green;
}

.social a:hover{
    color:red;
    border: 1px solid var(--main-color);
    border-radius: 50%;

}
.social  i:hover{
    transform: rotate(360deg);
    transition: 0.3s;
}


/*----order section---*/

.order{
    display: grid;
    position:relative;
    width:100%;
/*    border: 1px solid blue;*/
}

.order .order_main{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.order .order_image img{
    width: 500px;
    position: relative;
    padding: 10px 40px;
    left: 40%;
    top: 20px;
}

.order form{
    position:absolute;
    display:grid;
    width: 50%;
    top: 30px;
    grid-template-columns:auto;
    grid-gap: 0 10px;
/*    border: 2px solid red;*/
}

.order  form .input p{
    line-height: 20px;
    color: var(--main-color);
/*    border: 1px solid blue;*/
}

.order  form .input{
    margin: 5px;

}

.order  form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
    border: 1px solid blue;
}

.order  form .input input:focus{
    border: 2px solid #fac031;
}

.order form .btn{
    padding: 10px 0;
    background: #fac031;
    color: red;
    width: 30%;
    text-align: center;
    top: 15px;
    left: 50px;
    text-decoration: none;
}

.end{
    position: relative;
    top: -40px;
    text-align: center;
    font-size:20px;
}
.end i{
    color: orangered;
}


/*----Media Quary----*/

@media(max-width:1560px) {
    header{
        padding: 15px 40px;
    }
    :root{
        --big-font:3.5rem;
        --h2-font:2rem;
    }

}

@media(max-width:1140px) {
    section{
        padding: 50px 8%;
    }
    #box-icon{
        display: initial;
        color: var(--text-color);
    }
    header #navbar{
    position: absolute;
    visibility: hidden;
/*    display: none;*/
    top: 0px;
    left:140px;
    right:140px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background:var(--bg-color);
    transition:.3s;

  }
    header #navbar .active{
     top: 70px;
  }
  #navbar a{
    padding: 1.5rem;
    display: block;
  }
 }

 @media(max-width:900px) {
   .home-text h1 {
    font-size: 60px;
    position: relative;
    top: 10px;
    left:0px;
    font-family: mv boli;
    color: var(--main-color);
} 
.home-text p{
    font-size: 20px;
    position: relative;
    top: 0px;
    left: 10px;
}
.order .order_image img{
    width: 380px;
    position: relative;
    padding: 10px 40px;
    top: 50px;
/*    border: 1px solid green;*/
}
.order  form .input input{
    width: 200px;
    height: 30px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
/*    border: 1px solid red;*/
}
}


@media(max-width:720px) {
    header{
        padding: 10px 16px;   
    }
 .home{
    grid-template-columns: 1fr;
    text-align: center;
 }
 .home-text h1 {
    font-size: 65px;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: mv boli;
    color: var(--main-color);
}
.home-text p{
    font-size: 20px;
    position: relative;
    top: 0px;
    left: 0px;
}
.col h4{
    font-size:1.1rem;
    color:var(--main-color);
    position: relative;
}
.col{
    width:30%;
    text-align: center;
    display:grid;
    position: relative;
}
}

@media(max-width:600px) {

.col{
    width:45%;
    text-align: center;
    display:grid;
    position: relative;
/*    border: 1px solid red;*/
}
.order .order_image img{
    width: 380px;
    position:relative;
/*    border: 1px solid red;*/
}
.order  form .input input{
    width: 180px;
    height: 25px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
/*    border: 1px solid red;*/
}
.order form .btn{
    background: #fac031;
    color: red;
    width: 40%;
    text-align: center;
    top: 15px;
    left: 50px;
    text-decoration: none;
}
}  



